    
    <div class="overlay"></div>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBQXjHWCRlv0v1650ZVXMnSKOHiZTfWcbM",
            authDomain: "new-volcanoes.firebaseapp.com",
            databaseURL: "https://new-volcanoes.firebaseio.com",
            projectId: "new-volcanoes",
            storageBucket: "new-volcanoes.appspot.com",
            messagingSenderId: "178410713093"
        };
        firebase.initializeApp(config);
    </script>
    <script src="js/footer.js"></script>
</body>
</head> 